//- I'm not hugely familiar with jade syntax, in say handlebars I'd helpers to achieve the same
//- effect of storing markup in a component and possibly re-using it client/server side
mixin recipe(recipe)
  img.recipe__picture(src=recipe.images.main alt=recipe.name + ' example')
  h1.recipe__title #{recipe.name}
  p.recipe-item__ingredients-header Ingredients:
  ul.recipe__ingredients
    if recipe.ingredients
      each item in recipe.ingredients
        li.recipe__ingredients-item #{item.quantity} #{item.ingredient}
    else
      each ingredient in recipe.mainIngredients
        li.recipe_ingredients-item--main #{ingredient}
  p.recipe__cooking-time Time to cook: #{recipe.preparationTimeString}
